img {
  height: 40px;
  width: 40px;
  margin: 5px;
}

mat-icon:hover {
  cursor: pointer;
}

mat-toolbar {
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  color: #d81b60;
  background-color: #fff;
}
