<!-- FULL HEADER BLOCK -->
<header>
  <!-- BACKGROUND IMAGE -->
  <div class="hero"></div>
  <!-- INTRO SECTION -->
  <section id="intro">
    <!-- LOGO -->
    <div class="hero-logo">
      <img src="assets/icons/rxjs-logo.svg" alt="RxJS logo" />
    </div>
    <!-- CONTAINER -->
    <div class="homepage-container">
      <div class="headline-container">
        <h2 class="hero-headline no-toc">RxJS</h2>
        <span class="hero-subheadline">Reactive Extensions Library for JavaScript</span>
      </div>
      <div>
        <a class="button hero-cta" [routerLink]="['/introduction']">Comenzar</a>
        <a class="button hero-cta" [routerLink]="['/installation']">Instalación</a>
      </div>
    </div>
  </section>
</header>
<!-- MAIN CONTENT -->
<article>
  <h1 class="no-anchor no-toc" style="display: none"></h1>
  <div class="home-rows">
    <!-- Group 1 -->
    <div layout="row" layout-xs="column" class="home-row homepage-container">
      <div class="text-container">
        <div class="text-block promo-1-desc l-pad-top-2">
          <div class="text-headline">
            Reactive Extensions Library for JavaScript
          </div>
          <p class="text-body">
            RxJS es una biblioteca de programación reactiva utilizando
            observables, para componer código asíncrono o basado en
            <em>callbacks</em> de modo más sencillo. Este proyecto está basado
            en la documentación oficial de RxJS.
          </p>
        </div>
      </div>
    </div>
    <hr />
    <div layout="row" layout-xs="column" class="home-row homepage-container">
      <div layout="row" layout-xs="column" class="home-row">
        <a href="code-of-conduct">
          <div class="card">
            <div class="card-text-container">
              <p>Por favor, lee atentamente nuestro</p>
              <div class="text-headline">Código de conducta</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- end of home rows -->
  </div>
</article>