mat-sidenav {
  background-color: #fafafa;
  width: 400px;
}

mat-sidenav-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 64px;
}

mat-sidenav-content {
  background-color: #fff;
}

rxjs-docs-sidenav {
  display: block;
  height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
}
.hero .hero-title {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  margin: 0 8px 0 0;
  text-transform: uppercase;
}
.hero .hero-title.is-standard-case {
  text-transform: none;
}
section#intro {
  display: flex;
  align-items: center;
  position: relative;
  width: 900px;
  height: 480px;
  margin: 0 auto -32px;
  padding: 48px 0 0;
  color: #fff;
}
@media (max-width: 780px) {
  section#intro {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    padding: 70px 0 32px;
  }
  section#intro button {
    margin: 0;
    height: 60px;
  }
}
section#intro .homepage-container {
  width: 100%;
  max-width: 1040px;
  margin: -7% auto 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#intro .homepage-container .hero-cta + .hero-cta {
  margin-top: 15px;
}
section#intro .headline-container {
  margin: 32px 0;
  text-align: center;
}
section#intro .hero-headline {
  font-size: 40px;
  line-height: 64px;
  font-weight: 500;
  color: #d81b60;
}
section#intro .hero-headline:after {
  display: none;
}
@media (max-width: 780px) {
  section#intro .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  section#intro .hero-headline {
    text-align: center;
  }
  section#intro .hero-logo {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  section#intro .hero-headline {
    font-size: 32px;
    line-height: 50px;
  }
}
section#intro .hero-subheadline {
  font-size: 22px;
  line-height: 32px;
  color: #62757f;
}
section#intro .hero-logo {
  display: flex;
  width: 400px;
}
section#intro .hero-logo img {
  width: 400px;
  height: 400px;
  margin-bottom: 8px;
  padding: 0;
  -webkit-filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
  filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
}

.background-sky {
  background: #d81b60;
  color: #fff;
}
.home-row .card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  box-sizing: border-box;
  transition: box-shadow 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 70%;
  min-width: 270px;
  text-align: center;
  height: auto;
  margin: auto;
  padding: 24px;
  box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
}
.home-row .card:hover {
  box-shadow: 0 8px 8px rgba(10, 16, 20, 0.24), 0 0 8px rgba(10, 16, 20, 0.12);
  text-decoration: none;
}
@media (max-width: 600px) {
  .home-row .card {
    margin: 16px auto 0;
  }
  .home-row .card h2 {
    margin: 0;
  }
  .home-row .card img {
    max-width: none;
    height: 70px;
  }
}
.home-row .card img {
  margin: 16px;
}
.home-row .card .card-text-container {
  margin: 0 16px;
}
.home-row .card .card-text-container p {
  text-align: left;
  color: #333;
  margin: 0;
  padding: 8px 0;
}
.home-row .card:hover h2 {
  color: #d81b60;
}
.button.hero-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 40px;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  background-color: #fff;
  border-radius: 48px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  cursor: pointer;
}
.button.hero-cta:hover {
  opacity: 0.9;
}

@media (max-width: 1300px) {
  .home-row .card img {
    height: 70px;
    max-width: none;
  }
}
.cta-bar.announcement-bar {
  background: 0 0;
  box-shadow: none;
}
.text-headline {
  font-size: 20px;
  font-weight: 500;
  color: #d81b60;
  margin-top: 10px;
  text-transform: uppercase;
}
div[layout="row"] {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.layout-row {
  flex-direction: row;
}
.home-rows {
  overflow: hidden;
}
@media (max-width: 600px) {
  .home-rows {
    margin: 0;
  }
}
.background-superhero-paper {
  background-size: 100%;
  background-blend-mode: multiply;
}
.home-row {
  margin: 32px auto;
}
.home-row .promo-img-container,
.home-row .text-container {
  max-width: 50%;
}
@media (max-width: 480px) {
  div[layout="row"] {
    display: block;
  }
  .home-row .promo-img-container,
  .home-row .text-container {
    max-width: 100%;
    text-align: center;
  }
  .home-row .promo-img-container:nth-child(even),
  .home-row .text-container:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.home-row .text-block {
  padding-right: 15%;
}
.home-row .promo-img-container img {
  max-width: 90% !important;
  max-width: 90%;
}
.home-row .promo-img-container p {
  margin: 0 20px;
}
@media (max-width: 599px) {
  .home-row .promo-img-container img {
    max-width: 100%;
    float: initial !important;
  }
}
.marketing-banner {
  background-color: #e73f7c;
  margin-top: 64px;
  padding: 32px;
}
.marketing-banner .banner-headline {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
@media (max-width: 600px) {
  .home-row .text-block {
    padding: 0;
  }
  .marketing-banner {
    margin-top: 56px;
    padding: 18px;
  }
  .marketing-banner .banner-headline {
    font-size: 18px;
    font-weight: 400;
  }
}
.marketing-banner .banner-headline:after {
  display: none;
}
.page-features .marketing-banner {
  margin-bottom: 20px;
}
#file-not-found {
  padding: 3rem;
}
.nf-container {
  align-items: center;
  padding: 32px;
}
.nf-response {
  margin: 32px;
  height: 100%;
  flex-direction: column;
}
.nf-response h1 {
  font-size: 48px;
  color: #d81b60;
  text-transform: uppercase;
  margin: 8px 0;
}
.nf-icon.material-icons {
  color: #d81b60;
  font-size: 100px;
  position: static;
}
.starting.mat-drawer-transition .mat-drawer-content {
  transition: none;
}
mat-sidenav.mat-sidenav.sidenav {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 260px;
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}
mat-sidenav.mat-sidenav.sidenav.collapsed {
  top: 56px;
}
mat-sidenav-container.sidenav-container {
  min-height: 100%;
  height: auto !important;
  max-width: 100%;
  margin: 0;
  -webkit-transform: none;
  transform: none;
}
mat-sidenav-container.sidenav-container.has-floating-toc {
  max-width: 82%;
}
mat-sidenav-container div.mat-sidenav-content {
  height: auto;
}

mat-sidenav .doc-version {
  padding: 8px;
  border-top: 1px solid #dbdbdb;
}
mat-sidenav .doc-version select {
  outline: 0;
  width: 100%;
  background: rgba(219, 219, 219, 0.5);
  height: 32px;
  border: 1px solid #dbdbdb;
  color: #333;
}
mat-sidenav .doc-version select option {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
}
