<!-- <div gdAreas="side main" gdColumns="20% auto" gdRows="100%">
  <rxjs-docs-sidenav gdArea="side"></rxjs-docs-sidenav>
  <div gdArea="main">
    <router-outlet></router-outlet>
  </div>
</div> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <rxjs-docs-sidenav></rxjs-docs-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <scully-content></scully-content> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
