mat-sidenav {
  background-color: #fafafa;
  width: 70%;
}

mat-sidenav-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 64px;
}

mat-sidenav-content {
  background-color: #fff;
}

rxjs-docs-sidenav {
  box-sizing: border-box;
  display: block;
  padding: 10px 30px;
}

.github-icon {
  height: 32px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 33px;
  z-index: 2;
}

.github-icon svg {
  height: 100%;
  transition: fill 0.5s;
  width: 100%;
}

.github-icon:hover svg {
  fill: #d81b60;
}

@media screen and (min-width: 450px) and (max-width: 16000px) {
  mat-sidenav {
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  mat-sidenav-container {
    top: 0;
  }

  rxjs-docs-header {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  mat-sidenav {
    width: 400px;
  }
}
