<div class="root">
  <rxjs-docs-header></rxjs-docs-header>
  <mat-sidenav-container class="example-container">
    <mat-sidenav [mode]="mode">
      <rxjs-docs-sidenav></rxjs-docs-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <a
        class="github-icon"
        target="_blank"
        href="https://github.com/puntotech/rxjs-docu"
      >
        <svg>
          <use xlink:href="/assets/icons/github.svg#github"></use>
        </svg>
      </a>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
