mat-sidenav {
  background-color: #fafafa;
  width: 70%;
}

mat-sidenav-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 64px;
}

mat-sidenav-content {
  background-color: #fff;
}

rxjs-docs-sidenav {
  display: block;
  height: 100%;
}

@media only screen and (min-width: 450px) and (max-device-width: 1600px) {
  mat-sidenav {
    width: 300px;
  }
}

@media only screen and (min-width: 1600px) {
  mat-sidenav {
    width: 400px;
  }
}
