<div>
  <div [ngClass]="{ flipped: person.isFlipped }" class="contributor-card">
    <div class="card-front">
      <h3>{{ person.name }}</h3>
      <div
        class="contributor-image"
        [style.background-image]="'url(' + (person.picture || noPicture) + ')'"
      >
        <div class="contributor-info">
          <a *ngIf="person.bio" mat-button> Ver biografía </a>
          <a
            *ngIf="person.twitter"
            mat-button
            class="icon"
            href="{{ person.twitter }}"
            target="_blank"
            (click)="$event.stopPropagation()"
          >
            <span class="fa fa-twitter fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Twitter {{ person.name }}</span>
          </a>
          <a
            *ngIf="person.github"
            mat-button
            class="icon"
            href="{{ person.github }}"
            target="_blank"
            (click)="$event.stopPropagation()"
          >
            <span class="fa fa-github fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Github {{ person.name }}</span>
          </a>
          <a
            *ngIf="person.website"
            mat-button
            class="icon"
            href="{{ person.website }}"
            target="_blank"
            (click)="$event.stopPropagation()"
          >
            <span class="fa fa-link fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Sitio web {{ person.name }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-back" *ngIf="person.isFlipped" (click)="flipCard(person)">
      <h3>{{ person.name }}</h3>
      <p class="contributor-bio">{{ person.bio }}</p>
    </div>
  </div>
</div>
