@import "~prismjs/themes/prism-okaidia.css";

html,
body {
  height: 100%;
}

p,
span {
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 24px;
}

code {
  background-color: #f1f1f1;
  border-radius: 2px;
}

.mat-typography {
  color: #333;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  margin: 0;
}

.mat-typography h1 {
  font-weight: 500;
}

.mat-typography h3 {
  font-size: 18px;
  font-weight: 401;
}

table {
  border-radius: 2px;
  border-spacing: 0;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  margin: 25px 0;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dbdbdb;
  padding: 16px 24px;
  text-align: left;
}

a {
  color: #d81b60;
  text-decoration: none;
}

blockquote {
  padding-left: 1.3em;
  border-left: 5px solid #dfdfdf;
  font-style: italic;
}

.fading-line {
  height: 2px;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.5, #d81b60),
    color-stop(0.98, #fff)
  );
  margin: 40px 0;
}

.mat-typography h1 {
  font-size: 30px;
}

.code-toolbar {
  position: relative;
}

.toolbar {
  position: absolute;
  top: 0;
  right: 0;
}

.toolbar-item button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  margin: 9px;
  transition: background-color 0.5s;
}

.toolbar-item button:hover {
  background-color: #d81b60;
  cursor: pointer;
}
