details {
  border-top: 2px solid #e3e7e7;
  margin: 50px 0 0;
  padding: 30px 0 0;
}

h1 {
  border-bottom: 2px solid #e3e7e7;
  margin-bottom: 30px;
  padding-bottom: 35px;
  width: 100%;
}

h2 {
  border-top: 2px solid #e3e7e7;
  margin-top: 30px;
  padding-top: 35px;
  margin: 34px 0 24px;
}

h3 {
  margin: 30px 0 20px;
}

img {
  margin: 30px 0;
  width: 100%;
}

li {
  line-height: 2em;
  list-style: none;
}

pre {
  margin: 30px 0;
}

summary {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
  padding: 20px 10px;
  transition: 0.5s background-color;
}

th {
  background-color: #f4f4f4;
  font-weight: normal;
}

.overload-container {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.overload-section {
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px 15px;
}

.collection-table {
  width: 400px;
}

.protocol-table {
  width: 800px;
}

.md-container {
  padding: 25px;
}

.no-subtitle {
  border: none;
  margin: 0;
  padding: 0;
}

.additional-section {
  border-top: 2px solid #e3e7e7;
  display: flex;
  justify-content: space-between;
  margin: 34px 0 24px;
  padding-top: 35px;
}

.source-icon {
  transition: 0.5s box-shadow;
}

.subtitle {
  border: none;
  margin: 0 0 20px;
  padding-top: 0;
}

div.code-toolbar {
  margin: 30px 0;
}

.additional-section a {
  height: 35px;
  width: 40px;
}

.additional-section h2 {
  border: none;
  margin: 0 0 16px;
  padding: 0;
}

.source-icon img {
  height: 100%;
  margin: 0;
}

summary:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.source-icon:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(216,27,96,0.5), 0px 0px 15px 5px rgba(216,27,96,0.5);
}

.overload-container .overload-section:last-child {
  border: none;
}

@media only screen and (min-width: 450px) {
  .md-container {
    padding: 40px;
  }
}
